<html>
<head>
        <title>Heather's Blog</title>
    </head>
    <body>
    <p>Hi there!</p>
    <p>It works!</p>
  </body>
</html>

        <div>
            <h1><a href="/">Heather's Blog</a></h1>
        </div>

        <div>
            <p>published: 3/10/18, 5:45</p>
            <h2><a href="">Hello Lovely People!</a></h2>
            <p>WELCOME! This is a free environment for you to come and enjoy your time! I hope you find this a safe place!</p>
        </div>
        <div>
            <p>published: 3/10/18, 5:48</p>
            <h2><a href="">YAY!</a></h2>
            <p> I'm EXTREMELY happy that this works! Note: This is FARRRRR from finished!</p>
        </div>
    </body>
</html>
